<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke tests">
    <test verbose="2" preserve-order="true" name="Regression tests">
        <classes>
            <class name="testng.User"></class>
            <class name="testng.TestNGDemo"></class>
        </classes>
    </test>
</suite>